h2 {
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
  color: #00a551;
}
.cards {
  display: block;
  padding: 10px;
}
.cards .card {
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 20px 10px;
  box-shadow: 0px 0px 5px 5px #ccc;
}
.cards .card img {
  border-radius: 8px 8px 0px 0px;
  width: 100%;
  height: auto;
}
.cards .card h3 {
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
  color: #00a551;
}
.cards .card .card-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cards .card .card-list ul {
  margin-top: 10px;
  list-style: square url(/img/check2.png) inside;
  text-align: left;
}
.cards .card .card-list ul li {
  margin-bottom: 15px;
  padding-right: 4vw;
  font-size: 18px;
}
@media (min-width: 480px) and (max-width: 800px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 801px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .cards .card {
    height: 650px;
  }
  .cards .card .card-list ul li {
    padding-right: unset;
  }
}
