.footer--main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #207878;
  color: white;
  font-size: 14px;
  width: 100%;
}
.footer--main h2 {
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
  color: white;
}
.footer--main .nav--social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.footer--main .nav--social ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer--main .nav--social li {
  margin-right: 50px;
  color: #2EABAB;
}
.footer--main .nav--social a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  text-decoration: none;
  color: #2EABAB;
}
.footer--main .author {
  margin-top: 20px;
  margin-bottom: 5px;
}
.footer--main .rights {
  margin-top: 5px;
  margin-bottom: 20px;
}
