@media (min-width: 320px) and (max-width: 799px) {
  .header--main__logo {
    width: 100%;
    height: 170px;
    background-color: #6ec191;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header--main__logo img {
    width: 150px;
    height: 150px;
  }
  .header--main__menu {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .header--main__menu .is_active {
    display: block;
  }
  .header--main__menu button {
    text-align: left;
    width: 100%;
    background-color: #00a551;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
  }
  .header--main__menu button i {
    float: right;
  }
  .header--main__menu button:hover {
    background-color: #2EABAB;
  }
  .header--main__menu nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #f9f9f9;
    z-index: 1;
    display: none;
  }
  .header--main__menu nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header--main__menu nav ul li {
    width: 100%;
    text-align: center;
  }
  .header--main__menu nav ul li a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: #207878;
  }
  .header--main__menu nav ul li a:hover {
    background-color: #f1f1f1;
  }
}
@media (min-width: 800px) {
  .header--main {
    background-color: #6ec191;
    display: flex;
    align-items: center;
  }
  .header--main .header--main__logo img {
    padding-left: 10px;
    width: 80px;
    height: 80px;
  }
  .header--main .header--main__menu {
    width: 100%;
  }
  .header--main .header--main__menu button {
    display: none;
  }
  .header--main .header--main__menu nav ul {
    width: 100%;
    list-style: none;
    display: inline-flex;
    vertical-align: middle;
    padding-left: 0;
  }
  .header--main .header--main__menu nav ul li {
    width: 100%;
    text-align: center;
    padding: 2vw;
  }
  .header--main .header--main__menu nav ul li a {
    text-decoration: none;
    color: #f1f1f1;
  }
  .header--main .header--main__menu nav ul li a:hover {
    background-color: #207878;
  }
}
