.slider {
  width: 100%;
  height: 200px;
  background-color: #6ec191;
  margin: auto;
  overflow: hidden;
}

.slider .container {
  display: grid;
  width: 100%;
  grid-template-columns: 100% 100% 100% 100%;
  animation-name: move;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

.slider .container .slider-background {
  position: absolute;
  background: linear-gradient(#6ec191, #2EABAB);
  width: 100%;
  height: 400px;
  opacity: 0.7;
}

.slider .container h2 {
  position: relative;
  width: 60%;
  margin: auto;
  margin-top: 15%;
  color: white;
  font-size: 2em;
  text-align: center;
}

.slider .container #image_1 {
  position: relative;
  background-image: url('/src/img/principal.png');
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
}

.slider .container #image_2 {
  position: relative;
  background-image: url('/src/img/pedagoga.jpg');
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
}

.slider .container #image_3 {
  position: relative;
  background-image: url('/src/img/enfermera.jpg');
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
}

.slider .container #image_4 {
  position: relative;
  background-image: url('/src/img/psicologa.jpg');
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
}

@keyframes move {
  14% {
    margin-left: 0%;
  }

  18% {
    margin-left: -100%;
  }

  28% {
    margin-left: -100%;
  }

  32% {
    margin-left: -200%;
  }

  42% {
    margin-left: -200%;
  }

  46% {
    margin-left: -300%;
  }

  56% {
    margin-left: -300%;
  }

  60% {
    margin-left: -200%;
  }

  70% {
    margin-left: -200%;
  }

  74% {
    margin-left: -100%;
  }

  84% {
    margin-left: -100%;
  }

  100% {
    margin-left: 0%;
  }
}

@media (min-width: 480px) and (max-width: 799px) {
  .slider .container h2 {
    margin-top: 10%;
  }
}

@media (min-width: 800px) and (max-width: 1080px) {
  .slider .container h2 {
    margin-top: 7%;
  }
}

@media (min-width: 1081px) and (max-width: 1920px) {
  .slider .container h2 {
    margin-top: 5%;
  }
}

@media (min-width: 1921px) {
  .slider .container h2 {
    margin-top: 2%;
  }
}