.schedule {
  padding: 10px;
  margin-bottom: 20px;
}
.schedule table {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0px 0px 5px 5px #ccc;
  table-layout: fixed;
  text-align: center;
}
.schedule table th {
  color: #00a551;
  border-bottom: 1px solid #ccc;
}
