@media (min-width: 1024px) {
  hr.solid {
    display: none;
  }
  .union {
    display: flex;
  }
  .union .schedule {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .union .schedule table {
    height: 200px;
    max-width: 500px;
  }
  .union .map {
    width: 50%;
    text-align: center;
  }
  .union .map iframe {
    height: 200px;
    max-width: 500px;
  }
}
