@media (min-width: 320px) and (max-width: 799px) {
  .header--main__logo {
    width: 100%;
    height: 170px;
    background-color: #6ec191;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header--main__logo img {
    width: 150px;
    height: 150px;
  }

  .header--main__menu {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .header--main__menu .is_active {
    display: block;
  }

  .header--main__menu button {
    text-align: left;
    width: 100%;
    background-color: #00a551;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
  }

  .header--main__menu button i {
    float: right;
  }

  .header--main__menu button:hover {
    background-color: #2EABAB;
  }

  .header--main__menu nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #f9f9f9;
    z-index: 1;
    display: none;
  }

  .header--main__menu nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header--main__menu nav ul li {
    width: 100%;
    text-align: center;
  }

  .header--main__menu nav ul li a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: #207878;
  }

  .header--main__menu nav ul li a:hover {
    background-color: #f1f1f1;
  }
}

@media (min-width: 800px) {
  .header--main {
    background-color: #6ec191;
    display: flex;
    align-items: center;
  }

  .header--main .header--main__logo img {
    padding-left: 10px;
    width: 80px;
    height: 80px;
  }

  .header--main .header--main__menu {
    width: 100%;
  }

  .header--main .header--main__menu button {
    display: none;
  }

  .header--main .header--main__menu nav ul {
    width: 100%;
    list-style: none;
    display: inline-flex;
    vertical-align: middle;
    padding-left: 0;
  }

  .header--main .header--main__menu nav ul li {
    width: 100%;
    text-align: center;
    padding: 2vw;
  }

  .header--main .header--main__menu nav ul li a {
    text-decoration: none;
    color: #f1f1f1;
  }

  .header--main .header--main__menu nav ul li a:hover {
    background-color: #207878;
  }
}

.slider {
  width: 100%;
  height: 200px;
  background-color: #6ec191;
  margin: auto;
  overflow: hidden;
}

.slider .container {
  display: grid;
  width: 100%;
  grid-template-columns: 100% 100% 100% 100%;
  animation-name: move;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

.slider .container .slider-background {
  position: absolute;
  background: linear-gradient(#6ec191, #2EABAB);
  width: 100%;
  height: 400px;
  opacity: 0.7;
}

.slider .container h2 {
  position: relative;
  width: 60%;
  margin: auto;
  margin-top: 15%;
  color: white;
  font-size: 2em;
  text-align: center;
}

.slider .container #image_1 {
  position: relative;
  background-image: url('/src/img/principal.png');
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
}

.slider .container #image_2 {
  position: relative;
  background-image: url('/src/img/pedagoga.jpg');
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
}

.slider .container #image_3 {
  position: relative;
  background-image: url('/src/img/enfermera.jpg');
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
}

.slider .container #image_4 {
  position: relative;
  background-image: url('/src/img/psicologa.jpg');
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
}

@keyframes move {
  14% {
    margin-left: 0%;
  }

  18% {
    margin-left: -100%;
  }

  28% {
    margin-left: -100%;
  }

  32% {
    margin-left: -200%;
  }

  42% {
    margin-left: -200%;
  }

  46% {
    margin-left: -300%;
  }

  56% {
    margin-left: -300%;
  }

  60% {
    margin-left: -200%;
  }

  70% {
    margin-left: -200%;
  }

  74% {
    margin-left: -100%;
  }

  84% {
    margin-left: -100%;
  }

  100% {
    margin-left: 0%;
  }
}

@media (min-width: 480px) and (max-width: 799px) {
  .slider .container h2 {
    margin-top: 10%;
  }
}

@media (min-width: 800px) and (max-width: 1080px) {
  .slider .container h2 {
    margin-top: 7%;
  }
}

@media (min-width: 1081px) and (max-width: 1920px) {
  .slider .container h2 {
    margin-top: 5%;
  }
}

@media (min-width: 1921px) {
  .slider .container h2 {
    margin-top: 2%;
  }
}

h2 {
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
  color: #00a551;
}

.cards {
  display: block;
  padding: 10px;
}

.cards .card {
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 20px 10px;
  box-shadow: 0px 0px 5px 5px #ccc;
}

.cards .card img {
  border-radius: 8px 8px 0px 0px;
  width: 100%;
  height: auto;
}

.cards .card h3 {
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
  color: #00a551;
}

.cards .card .card-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards .card .card-list ul {
  margin-top: 10px;
  list-style: square url(/src/img/check2.png) inside;
  text-align: left;
}

.cards .card .card-list ul li {
  margin-bottom: 15px;
  padding-right: 4vw;
  font-size: 18px;
}

@media (min-width: 480px) and (max-width: 800px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 801px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .cards .card {
    height: 650px;
  }

  .cards .card .card-list ul li {
    padding-right: unset;
  }
}

.schedule {
  padding: 10px;
  margin-bottom: 20px;
}

.schedule table {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0px 0px 5px 5px #ccc;
  table-layout: fixed;
  text-align: center;
}

.schedule table th {
  color: #00a551;
  border-bottom: 1px solid #ccc;
}

.map {
  padding: 10px;
}

.map iframe {
  box-shadow: 0px 0px 5px 5px #ccc;
  width: 100%;
  height: 500px;
  border: 0;
  border-radius: 8px;
}

@media (min-width: 1024px) {
  hr.solid {
    display: none;
  }

  .union {
    display: flex;
  }

  .union .schedule {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .union .schedule table {
    height: 200px;
    max-width: 500px;
  }

  .union .map {
    width: 50%;
    text-align: center;
  }

  .union .map iframe {
    height: 200px;
    max-width: 500px;
  }
}

.footer--main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #207878;
  color: white;
  font-size: 14px;
  width: 100%;
}

.footer--main h2 {
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.footer--main .nav--social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.footer--main .nav--social ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer--main .nav--social li {
  margin-right: 50px;
  color: #2EABAB;
}

.footer--main .nav--social a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  text-decoration: none;
  color: #2EABAB;
}

.footer--main .author {
  margin-top: 20px;
  margin-bottom: 5px;
}

.footer--main .rights {
  margin-top: 5px;
  margin-bottom: 20px;
}

body {
  margin: 0;
  padding: 0;
}

.content {
  display: grid;
  justify-content: center;
  align-items: center;
}

/* Solid border */
hr.solid {
  border-top: 3px solid #ccc;
}